:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}
@font-face {
  font-family: "Young Serif";
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format(truetype);
}
@font-face {
  font-family: "Outfit";
  src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format(truetype)
      tech(variations),
    url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
      format(truetype-variations);
}
html {
  font-size: 16px;
  font-family: "Outfit";
}
main {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}
h1,
h2 {
  font-family: "Young Serif";
}
p,
li,
th {
  color: var(--stone-600);
}
h1 {
  color: var(--stone-900);
  font-size: 36px;
  margin-top: 37px;
  font-weight: 400;
  line-height: 1;
}
.dish-img {
  order: -1;
  width: 100vw;
  margin: 0px -32px 0px -32px;
}
img {
  width: inherit;
}
p {
  line-height: 1.5;
  margin-top: 0;
  padding-right: 30px;
}
aside {
  background-color: var(--rose-50);
  margin-top: 16px;
  padding-left: 24px;
  padding-top: 5px;
  margin-right: 32px;
  border-radius: 16px;
}
.prep-heading {
  font-family: "Outfit";
  color: var(--rose-800);
  font-size: 20px;
  font-weight: 600;
  margin-top: 14px;
  margin-bottom: 0;
}
ul {
  padding: 0;
  padding-left: 7px;
  padding-right: 20px;
  margin-top: 10px;
}
ul li::marker {
  color: var(--rose-800);
  font-size: 12px;
}
ul li {
  line-height: 1.5;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
ul li::before {
  content: "•";
  font-size: 20px;
  color: var(--rose-800);
  margin-right: 26px;
}
ul li:last-child {
  margin-top: -3px;
}
h2 {
  color: var(--brown-800);
  font-weight: 400;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 5px;
  line-height: 1.5;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
