:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}
@font-face {
  font-family: "Young Serif";
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format(truetype);
}
@font-face {
  font-family: "Outfit";
  src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format(truetype)
      tech(variations),
    url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
      format(truetype-variations);
}
html {
  font-size: 16px;
  font-family: "Outfit";
}
main {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  position: relative;
}
h1,
h2 {
  font-family: "Young Serif";
}
p,
li,
th {
  color: var(--stone-600);
}
h1 {
  color: var(--stone-900);
  font-size: 36px;
  margin-top: 37px;
  font-weight: 400;
  line-height: 1;
}
h2 {
  color: var(--brown-800);
  font-weight: 400;
  font-size: 28px;
  margin-top: 28px;
  margin-bottom: 5px;
  line-height: 1.5;
}
.dish-img {
  order: -1;
  width: 100vw;
  margin: 0px -32px 0px -32px;
}
img {
  width: inherit;
}
p {
  line-height: 1.5;
  margin-top: 0;
  padding-right: 30px;
}
aside {
  background-color: var(--rose-50);
  margin-top: 16px;
  padding-left: 24px;
  padding-top: 5px;
  margin-right: 32px;
  border-radius: 16px;
}
.prep-heading {
  font-family: "Outfit";
  color: var(--rose-800);
  font-size: 20px;
  font-weight: 600;
  margin-top: 14px;
  margin-bottom: 0;
}
ul {
  padding: 0;
  padding-left: 7px;
  padding-right: 20px;
  margin-top: 10px;
}
ul li::marker {
  color: var(--rose-800);
  font-size: 12px;
}
ul li {
  line-height: 1.5;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
ul li::before {
  content: "•";
  font-size: 20px;
  color: var(--rose-800);
  margin-right: 26px;
}
ul li:last-child {
  margin-top: -3px;
}
.ingredients-list li {
  margin-bottom: 2px;
}
.ingredients-list li:last-child {
  margin-top: 5px;
  margin-bottom: 14px;
}
ol {
  padding-left: 8px;
  padding-right: 30px;
  margin-top: 10px;
}
ol li {
  display: flex;
  counter-increment: item;
  line-height: 1.5;
  margin-bottom: 8px;
}
ol li::before {
  content: "" counter(item) ".";
  color: var(--rose-800);
  font-weight: 600;
  margin-right: 18px;
}
ol li:last-child {
  margin-bottom: 15px;
}
.divider {
  background-color: var(--stone-150);
  height: 1px;
  width: inherit;
  margin-right: 30px;
}
.nutrition-text {
  margin-top: 10px;
  padding-right: 40px;
  margin-bottom: 12px;
}
table {
  text-align: left;
  border-collapse: collapse;
  margin-right: 30px;
}
tr {
  border-bottom: 1px var(--stone-150) solid;
}
tr:last-child {
  border: none;
}
th {
  font-weight: 400;
  padding-left: 32px;
  width: 52%;
}
td {
  color: var(--brown-800);
  font-weight: 700;
}
th,
td {
  padding-top: 15px;
  padding-bottom: 14px;
}
.attribution {
  position: absolute;
  font-size: 11px;
  text-align: center;
  bottom: -10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  body {
    background-color: var(--stone-100);
    width: 100vw;
    display: grid;
    place-items: center;
    padding-top: 122px;
  }
  main {
    width: 736px;
    height: 1706px;
    overflow: hidden;
    background-color: var(--white);
    padding: 40px;
    border-radius: 25px;
  }
  .dish-img {
    width: 656px;
    height: 300px;
    margin: 0;
  }
  .dish-img img {
    border-radius: 12px;
  }
}
